<% if (!@conferenceItem.oaStatus.empty? && !@conferenceItem.oaStatus[0].empty?) || (!@conferenceItem.apcPaid.empty? && !@conferenceItem.apcPaid[0].empty?) || (!@conferenceItem.oaReason.empty? && !@conferenceItem.oaReason[0].empty?) || (!@conferenceItem.refException.empty? && !@conferenceItem.refException[0].empty? ) %>
<div class="accordian">
  <div class="accordian-header">Administration details - <small>APC's and Ref</small></div>
  <div class="accordian-content">
    <% if !@conferenceItem.oaStatus.empty? && !@conferenceItem.oaStatus.first.empty? %>
      <h6>Open access status:</h6>
      <p><%= @conferenceItem.oaStatus.first %></p>
    <% end %>
    <% if !@conferenceItem.apcPaid.empty? && !@conferenceItem.apcPaid.first.empty? %>
      <h6>Paid for:</h6>
      <% if @conferenceItem.apcPaid.first == "Yes" %>
        <p>Conference item processing charge was paid for this @conferenceItem</p>
      <% else %>
        <p>Conference item  processing charge was not paid for this @conferenceItem</p>
      <% end %>
    <% end %>
    <% if !@conferenceItem.oaReason.empty? && !@conferenceItem.oaReason.first.empty? %>
      <h6>Basis of the APC:</h6>
      <p><%= @conferenceItem.oaReason.first %></p>
    <% end %>
    <% if !@conferenceItem.refException.empty? && !@conferenceItem.refException.first.empty? %>
      <h6>Ref exception:</h6>
      <p><%= @conferenceItem.refException.first %></p>
    <% end %>
  </div>
</div>
<% end %>