<h4 class="heading4">No Items retrieved for these search criteria. You can always search across the dashboard using the free-text search box:
</h4>

<%= link_to "   Show all items" ,  { controller: "reviewing", apply_filter: ['all']}, class: "fa fa-bookmark fa-sm" %>

<%= render 'search_review_dash' %>