<h4 class="heading4">Filters</h4>
<span class="label label-primary">
	<% @filters.each do |filter| %>
		<%= link_to "  #{filter}" ,  { controller: "reviewing", remove_filter: filter }, class: "fa fa-remove fa-sm" %>
		</br>
		</br>
	<% end %>
</span>
</br>
</br>
